<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/loginform.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- <h2>Login</h2>
<p>Enter your webhook and login</p> -->
<!-- <form method="POST">
    <input name="webhookURL" value="https://discord.com/api/webhooks/###">
    <input type="submit">
</form> -->


<body>
    <!-- {% for myMsg in get_flashed_messages() %}
    <p style="color:rgb(241, 139, 139)">{{ myMsg }}</p>
    {% endfor %} -->


    <!-- https://codepen.io/lucasyem/pen/ZEEYKdj -->
    <div class="form__group field">    
        <form method="POST">
            <input type="input" class="form__field" placeholder="Name" name="webhookURL" id='name' required />
            <label for="submit" class="form__label">Paste Your Discord Webhook URL</label>
        </form>
    </div>

    <div>
        <a href="https://github.com/Reecepbcups/cosmos-forum-notifications" target="_blank" style="color:black"><i class="fa fa-github"></i></a>
    </div>


</body>


