<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/select_chains.css') }}">
</head>

<br>
<center>
<h1>Select chains you want notifications for!</h1>
</center>

<!-- If user has already enabled them, show it as enabled in the future-->
<form class="form-inline" method="POST" action="{{ url_for('success') }}">
  <!-- <input type=checkbox name=people value='Joe'> Joe <br/>
    <input type=checkbox name=people value='Betty'>Betty<br/> -->

  <!-- Bare bones working mimnimum. It returns the list of name="chains" values back to the 'test' function -->
  <!-- {% for o in data %}
            <input type=checkbox name="chains" value="{{ o.chain }}">{{ o.chain }}<br/>
        {% endfor %} -->

  <center>

    {% for o in data %}    
      <input class="checkbox" value="{{ o.chain }}" id="{{ o.chain }}" type="checkbox" name="chains" />
      <label for="{{ o.chain }}"><span class="check">✓</span>{{ o.chain }}</label>
    {% endfor %}

    <!-- <button type="submit" value="Save" class="btn btn-default">Save</button> -->
    <br>
    <input type="submit" class="btn btn-default fancy_button">

  </center>

</form>