<h1>Select chains you want notifications for!</h1>

<!-- <form class="form-inline" method="POST" action="{{ url_for('test') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Please select</span>
              <select name="comp_select" class="selectpicker form-control">
                {% for o in data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
              </select>
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
  </form> -->

  <!-- If user has already enabled them, show it as enabled -->
<form class="form-inline" method="POST" action="{{ url_for('test') }}">
    <!-- <input type=checkbox name=people value='Joe'> Joe <br/>
    <input type=checkbox name=people value='Betty'>Betty<br/> -->

        {% for o in data %}
            <input type=checkbox name="chains" value="{{ o.chain }}">{{ o.chain }}<br/>
        {% endfor %}

    <!-- <button type="submit" value="Save" class="btn btn-default">Save</button> -->
    <input type="submit" class="btn btn-default">
</form>