/* https://usejquery.com/css/css-submit-button/ */
/* https://codepen.io/seme332/pen/reJOwo */
.fancy_button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #F4F4F4;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.fancy_button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(7px);
}


/* Red button for success page -> home screen */
.fancy_button_to_home {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #F4F4F4;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* add margin paddin on the top */
  margin-top: 10px;
}
.fancy_button_to_home:hover {
  background-color: #e52e76; /*This is the compliment color of the green fancy_button*/
  box-shadow: 0px 15px 20px rgba(229, 46, 118, 0.4);
  color: #fff;  
  transform: translateY(7px);
}

/* Code for selection boxes */
label {
  display:block;
  border:solid 1px #8B949E;
  line-height:40px;
  height:40px;
  width: 250px;
  border-radius:40px;
  -webkit-font-smoothing: antialiased; 
  margin-top:10px;
  font-family:Arial,Helvetica,sans-serif;
  color:#C9D1D9;
  text-align:center;
}

input[type=checkbox] {
  display: none; /*hides the default check box*/
}

input {
  display:block
}

input:checked + label {
  border: solid 1px green;
  color: #2EE59D; /*same color as the button on hover event*/
}

input:checked + label:before {
  content: "\2713 ";
}

.check {
  visibility: hidden;
}

input:checked + label .check {
  visibility: visible;
}

input.checkbox:checked + label:before {
  content: "";
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

h1 {
  color: #C9D1D9;
}

/* Remove Scrolling */
html, body{
  overflow:hidden;
}